@model WebApplicationSpiritualArt.Models.REGISTRO_ARTISTA
@{
    ViewBag.Title = "EspacioArtista";
}

<h2>EspacioArtista</h2>


@if (Model.CLAVE != null)
{
    <script>
        alert("Bienvenido a SpiritualArt, revisa el correo que registraste para obtener la clave y el usuario de acceso")
    </script>
}
}
